<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
    <main>
        <% if (cartProducts.length > 0) { %>
            <ul>
                <% cartProducts.forEach((cartProduct) => {  %>
                    <p><%= cartProduct.title %> (<%= cartProduct.quantity %>) </p>
                    <form action="/delete-cart" method="POST">
                        <button type="submit" class="btn">Delete</button>
                        <input type="hidden" name="productId" value="<%= cartProduct._id %>">
                    </form>
                <% }) %>
            </ul>
            <hr />
            <div class="center">
                <form action="/create-order" method="post">
                    <button class="btn" type="submit">Order Now!</button>
                </form>
            </div>
        <% } else { %>
            <p>No products in cart </p>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>