<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<% if(orders.length == 0) { %>
    <h1>No Orders</h1>
    <% } else { %>
        <ul>
            <% orders.forEach(order => { %>
                <li><%= order.id %></li>
                <ul>
                    <% order.products.forEach(product => { %>
                        <li><%= product.title %> (<%= product.orderItem.quantity %>) </li>
                    <% }) %>
                </ul>
            <% }) %>
        </ul>
    <% } %>
<%- include('../includes/end.ejs') %>