<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if(prods.length > 0) { %>
    <div class="grid">
        <% prods.forEach((prod) => { %>
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    <%= prod.title %>
                </h1>
            </header>
            <div class="image">
                <img src="<%= prod.imageUrl %>" alt="A Book">
            </div>
            <div class="card__content">
                <h2 class="product__price">$
                    <%= prod.price %>
                </h2>
                <p class="product__description">
                    <%= prod.description %>
                </p>
            </div>
            <div class="card__actions">
                <a class="btn" href="/products/<%= prod._id %>">Details</a>
                <%- include('../includes/add-to-cart.ejs', { product: prod }) %>
            </div>
        </article>
        <% }); %>
    </div>
    <% } else { %>
    <h1>No products</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>